<div align="center">
  <table border="0" width="90%">
    <tr>
      <td colspan="3"><div align="center">
        <h3>Google Map Landkarten</h3>
      </div>
        <hr /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="35%" align="center">DE</td>
      <td width="35%" align="center">EN</td>
    </tr>
    <tr>
      <td width="26%"><u><strong>Version:</strong></u></td>
      <td colspan="2">4.2.3 for Joomla! 3.3.x</td>
    </tr>
    <tr>
      <td width="26%"><u><strong>Autor:</strong></u></td>
      <td colspan="2">Andy Thielke</td>
    </tr>
    <tr>
      <td height="21"><u><strong>Website:</strong></u></td>
      <td colspan="2"><a href="http://www.joomla-24.de" target="_blank">http://www.joomla-24.de</a></td>
    </tr>
    <tr>
      <td width="20%" valign="top"><p><u><strong>Funktionen Version 4.2.3<br />
        </strong></u><em>Functions Version 4.2.3</em><u><strong><br />
        </strong></u></p></td>
      <td width="35%" valign="top"><p><span data-mce-style="text-decoration: underline;"><strong>Google Map Karten erstellen und anzeigen</strong></span></p>
        <ul>
          <li>Karten erstellen und bearbeiten nach der WYSIWYG Methode</li>
          <li>vollständige Kopien von Karten erstellen</li>
          <li>alle Google Map Kartenparameter lassen sich individuell einstellen</li>
          <li>Zentraler Karten-Steuer-Button</li>
          <li>Integration der Karten Inhalte (Marker Beschreibung) in die Seiten Suche</li>
          <li>Frontend mit mobile device Erkennung für den Steuerbutton</li>
          <li>Integration der Karten als Link in den Beiträgen und Ausgabe über ein Modales Fenster</li>
          <li>Full Screen Modus</li>
          <li>Responsives Map Design</li>
          <li>Integration der Karten im Beitrags-Editor und Modulen</li>
          <li>Sprache der Karte gleich Website-Sprache</li>
          <li>de, en, fr sind installiert, eigene Sprachen können für den Steuerbutton erstellt werden</li>
          <li>Linien Arten Editor</li>
        </ul>
        <p> <strong><span data-mce-style="text-decoration: underline;">Erweiterte Kartenoptionen</span></strong></p>
        <ul>
          <li>kleine Übersichtskarte</li>
          <li>Zoombegrenzung</li>
          <li>Integration von Streetview</li>
          <li>Anzeige von Radwege, Straßenverkehr, Öffentliche Verkehrsmittel (z.B. U-Bahn Linien)</li>
        </ul>
        <p><strong><span data-mce-style="text-decoration: underline;">Erstellen von eigenen Inhalten</span></strong></p>
        <ul>
          <li>Erstellen von Markern per Autocomplete </li>
          <li>Cluster Marker Funktion</li>
          <li>Marker mit Mouse over Text, optional kann ein Marker gewählt werden, welcher beim Kartenstart ein geöffnetes Infofenster hat</li>
          <li>Icon Auswahl für Marker per Baumanzeige</li>
          <li>Erstellen von Rechtecken und Kreisen per Maus direkt auf der Karte</li>
          <li>Geodäte   Linien erstellen durch setzen von Markierungen auf der Karte per   Mausklick. Hinzufügen und Löschen von Wegpunkten auch innerhalb der   Linie möglich.</li>
          <li>Höhenschnitt und Längenberechnung für Linien</li>
          <li>Geodäte Polygone erstellen wie Linentool, jedoch als geschlossene Fläche</li>
          <li>Umfang und Flächenberechnung für Polygone</li>
          <li>Einfügen von Texten, Bildern, Links etc. (HTML Box)</li>
          <li>Info Fenster jetzt für alle Elemente möglich</li>
          <li>Zugriffsebenen Steuerung aller selbst erstellten Karten Elemente</li>
      </ul></td>
      <td width="30%" valign="top"><p><span data-mce-style="text-decoration: underline;"><strong>Google map provide and indicate</strong></span></p>
        <ul>
          <li><span id="result_box9" lang="en" xml:lang="en">Creating and editing maps by the WYSIWYG method</span></li>
          <li><span id="result_box10" lang="en" xml:lang="en">create full copies of maps</span></li>
          <li><span id="result_box11" lang="en" xml:lang="en">Google Map all parameters can be set individually</span></li>
          <li><span id="result_box12" lang="en" xml:lang="en">Central map control button</span></li>
          <li><span id="result_box13" lang="en" xml:lang="en">Integration of map content in the Site Search</span></li>
          <li><span id="result_box14" lang="en" xml:lang="en">Frontend with mobile device detection for the control button</span></li>
          <li><span id="result_box15" lang="en" xml:lang="en">Integration of the maps as a link in the articles and issue a modal window</span></li>
          <li><span id="result_box16" lang="en" xml:lang="en">Integration of the maps in the post editor and modules</span></li>
          <li><span id="result_box17" lang="en" xml:lang="en">Language map at the same site language</span></li>
          <li><span id="result_box18" lang="en" xml:lang="en">de, en, fr are installed, their own languages ​​can be created on the control button</span></li>
        </ul>
        <p> <strong><span data-mce-style="text-decoration: underline;">Extended map options</span></strong></p>
        <ul>
          <li>small general map</li>
          <li><span id="result_box8" lang="en" xml:lang="en">Zoom limit</span></li>
          <li>Integration of Streetview </li>
          <li>Show of cycle tracks, traffic, public means of transport (e.g. underground lines)</li>
        </ul>
        <p><strong><span data-mce-style="text-decoration: underline;">Provide from own contents</span></strong></p>
        <ul>
          <li><span id="result_box19" lang="en" xml:lang="en">Creating markers</span></li>
          <li>Cluster marker function</li>
          <li>Marker with Mouse over text, optionally can be selected a marker, which has an opened info-window with the map start</li>
          <li>Icon selection for markers by tree view</li>
          <li><span id="result_box" lang="en" xml:lang="en">Creating rectangles and circles with the mouse directly on the map</span></li>
          <li><span id="result_box2" lang="en" xml:lang="en">Create by setting markers on the map by mouse click geodesic lines. Adding and deleting of waypoints within the line possible.</span></li>
          <li><span id="result_box3" lang="en" xml:lang="en">Height and length calculation for lines</span></li>
          <li><span id="result_box4" lang="en" xml:lang="en">Create geodesic polygons such as line tool, but as a closed surface</span></li>
          <li><span id="result_box5" lang="en" xml:lang="en">Perimeter and area calculation for polygons</span></li>
          <li><span id="result_box6" lang="en" xml:lang="en">Inserting text, images, links, etc. (HTML Box)</span></li>
          <li><span id="result_box7" lang="en" xml:lang="en">Info window now possible for all elements</span></li>
      </ul>        <p align="center">&nbsp;</p></td>
    </tr>
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
  </table>
</div>
