<div align="center">
  <table border="0" width="90%">
    <tr>
      <td colspan="2"><div align="center">
        <h3>Google Map Landkarten</h3>
      </div>
        <hr /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="77%" align="center">DE</td>
    </tr>
    <tr>
      <td width="23%"><u><strong>Version:</strong></u></td>
      <td>4.2.3 for Joomla! 3.3.x</td>
    </tr>
    <tr>
      <td width="23%"><u><strong>Autor:</strong></u></td>
      <td>Andy Thielke</td>
    </tr>
    <tr>
      <td height="21"><u><strong>Website:</strong></u></td>
      <td><a href="http://www.joomla-24.de" target="_blank">http://www.joomla-24.de</a></td>
    </tr>
    <tr>
      <td width="23%" valign="top"><p><u><strong>Neue Funktionen Version 4.2<br />
          </strong></u><em>New functions Version 4.2</em><u><strong><br />
      </strong></u></p></td>
      <td width="77%" valign="top"><p align="center"><u><strong>Backend</strong></u></p>
        <ul>
          <li>Marker setzen über Autocomplete Funktion (POI, Lat Lng, Adressen)</li>
            <li>Auswahlboxen wurden durch Slider ersetzt</li>
            <li>Linien Arten Editor (eigene Linien Style können erstellt werden)</li>
            <li>Linien Style im Karten Editor (Punktlinien usw. können mit der Grundlinie auch kombiniert werden)</li>
            <li>Zugriffsebenen Steuerung aller selbst erstellten Karten Elemente   (Karten Elemente werden nur bei entsprechender Berechtigung angezeigt)</li>
            <li>HTML Box überarbeitet, erweitert um Rotation und Sichtbarkeit Bereich<br />
</li>
        </ul>
      <p align="center"><u><strong>Frontend</strong></u></p>
      <ul>
        <li>Kartensteuerung und Option Auswahl überarbeitet</li>
        <li>Full Screen Modus für die Karte</li>
        <li>Responsive Kartenanzeige</li>
        <li>Integration über eigenes Modul</li>
      </ul>
      <p align="center">&nbsp;</p>
      <p align="center">&nbsp;</p></td>
    </tr>
    <tr>
      <td colspan="2"><hr /></td>
    </tr>
    <tr>
      <td height="21"><u><strong>Neue Funktionen Version 4.2.3</strong></u></td>
      <td><p align="center"><u><strong>Backend</strong></u></p>
        <ul>
          <li>Einige kleine Fehler behoben</li>
          <li>Eingabe API-KEY in der Konfiguration möglich</li>
      </ul></td>
    </tr>

  </table>
</div>
